<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quantified Self</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="nav-bar" role="banner">
      <h1>Quantified Self API</h1>
    </nav>
      <div class="login-box">
        <form class="" action="https://stormy-brushlands-92125.herokuapp.com/sessions" method="post">
          <label for="email">Email:</label>
          <input type="email" name="email" placeholder="email@example.com">
          <br>
          <label for="password">Password:</label>
          <input type="password" name="password">
          <br>
          <input type="submit" name="" value="Log In" class="submit-button">
        </form>
      </div>
    <!-- <script type="text/javascript" src="../models/food.js">

    </script> -->
  </body>
</html>
